.titulo-pagina-inicial {
    width: 45%;
    height: 90px;
    box-shadow: 0 4px 25px #00000042;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #38603D;
}

.opcao-inicial {
    width: 330px;
    height: 150px;
    background-color: #dddddd;
    color: #38603D;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    row-gap: 15px;
}

.opcao-inicial:hover {
    -ms-transform: scale(1.3);
    transform: scale(1.1);
    box-shadow: 0 4px 25px #38603D;
}

.opcao h4 {
    font-size: 22px;
}

