.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  white-space: nowrap; /* Evita que o texto seja quebrado */
  padding-inline: 50px;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  color: green;
}

.table td {
    font-size: 9px;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

.export-button {
  width: 150px;
  height: 32px;
  border: solid 1px green;
  align-self: center;
  /* margin-top: 162px; */
  margin-right: 0px;
  cursor: pointer;
  font-size: 12px;
}

.export-button:hover {
    background-color: green;
    color: #fff;
}

.filtros {
  display: flex;
  height: 25px;
  margin-bottom: 15px;
  margin-top: 15px;
  column-gap: 12px;
  row-gap: 10px;
}

.nav-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.limpar-filtros {
  height: 22px !important;
  font-size: 11px;
  padding: 5px;
  cursor: pointer;
}

.limpar-filtros:hover {
  background-color: #38603D;
  color: #fff;
  border: 1px solid #38603D;
}