/*MAIN*/

.jornal-main {
    width: 100vw; /* Largura de 100% da viewport */
    height: 90vh; /* Altura de 100% da viewport */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    box-shadow: 0 4px 25px #00000042;
}

.container-edit {
    box-shadow: 0 4px 25px #00000042;
    width: 700px;
    padding: 30px;
    border-radius: 15px;
}

.add-jornal {
    width: 100vw; /* Largura de 100% da viewport */
    height: 95vh; /* Altura de 100% da viewport */
    background-color: #fff;
    width: 100vw; /* Largura de 100% da viewport */
    height: 95vh; /* Altura de 100% da viewport */
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.jornal-container {
    width: 100vw; /* Largura de 100% da viewport */
    height: 90vh; /* Altura de 100% da viewport */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.jornal-h2 {
    font-size: 32px;
    color: #38603D;
    margin-bottom: 20px;
}

.inputs-jornal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputs-jornal input {
    height: 28px;
    border-radius: 5px;
    padding: 5px;
}

.inputs-jornal label {
   font-size: 16px;
}

.jornal-btn {
    border: 1px solid #38603D;
    margin-top: 10px;
}

.input-check {
    margin-left: 10px !important;
}