.nav {
    width: 100%;
    height: 50px;
    background-color: #38603D;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 45px;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: #fff;
    color: #38603D;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    column-gap: 5px;
}

.btn-nav:hover {
    background-color: #38603D;
    color: #fff;
    border: solid 1px #fff;
}

.user2 {
    display: flex;
    align-items:flex-end;
    column-gap: 15px;
    font-size: 22px;
    cursor: pointer;
}

.user2:hover {
    color: #FFBF00;
}

.user2 img {
    width: 40px;
    height: 40px;
}

.nav-botoes {
    display: flex;
    column-gap: 70px;
    align-items: center;
}

@media screen and (min-width: 1300px) {
    .nav {
        height: 70px;
    }

    .logo-nav {
        width: 48px;
        height: 39px;
        column-gap: 5px;
    }
}

@media screen and (min-width: 1880px) {
    .nav {
        height: 80px;
        padding-inline: 65px;
    }

    .logo-nav {
        width: 58px;
        height: 49px;
    }

    .btn-nav {
        width: 60px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        column-gap: 10px;
    }
}